* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
}

body {
  background: #f1f5f9;
  color: #1e293b;
}

/* Links */
a {
  text-decoration: none;
}

/* Navbar */
nav {
  background: linear-gradient(90deg, #2563eb, #7c3aed);
  padding: 18px 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

nav a {
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

nav a:hover {
  color: #fde68a;
}


/* Containers */
.container {
  width: 90%;
  max-width: 1100px;
  margin: 40px auto;
}


/* Forms */
form {
  background: white;
  width: 400px;
  margin: 60px auto;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


form h1 {
  text-align: center;
  margin-bottom: 25px;
  color: #2563eb;
}


input,
textarea,
select {

  width: 100%;
  padding: 13px;
  margin-bottom: 15px;

  border: 1px solid #cbd5e1;
  border-radius: 8px;

  font-size: 15px;
}


input:focus,
textarea:focus {
  outline: none;
  border-color: #2563eb;
}



/* Buttons */

button {

  background: linear-gradient(
    90deg,
    #2563eb,
    #7c3aed
  );

  color:white;

  border:none;

  padding:12px 25px;

  border-radius:8px;

  cursor:pointer;

  font-weight:600;

  transition:.3s;

}


button:hover {

  transform: translateY(-2px);

  opacity:.9;

}



/* Cards */

.card {

  background:white;

  border-radius: 15px;

  overflow: hidden;

  padding:25px;

  margin:20px 0;

  border-radius:15px;

  box-shadow:
  0 8px 20px rgba(0,0,0,.08);

  transition:.3s;

}


.card:hover {

  transform: translateY(-5px);

}



/* Dashboard stats */

.stats {

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:20px;

}


.stat-card {

background:white;

padding:25px;

border-radius:15px;

text-align:center;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}


.stat-card h2 {

color:#2563eb;

font-size:35px;

}



.title {

font-size:35px;

margin-bottom:20px;

color:#1e293b;

}
.hero {

display:flex;

align-items:center;

justify-content:space-between;

padding:40px;

background:white;

border-radius:20px;

margin:40px auto;

width:90%;

box-shadow:0 10px 30px rgba(0,0,0,.1);

}


.hero img {

width:45%;

border-radius:20px;

}



.hero-text {

width:45%;

}


.hero-text h1 {

font-size:45px;

color:#2563eb;

}



.event-image {

width:100%;

height:220px;

object-fit:cover;

border-radius:15px;

margin-bottom:15px;

}
.event-grid {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 25px;

  margin-top: 30px;
}